.activity {
  display: inline-flex;
  align-items: center;
  color: var(--color-label);

  & > * + * {
    margin-left: 9px;
  }

  div:first-of-type {
    width: 18px;
    height: 18px;
  }

  span,
  strong {
    display: inline-block;
    white-space: nowrap;
  }

  a,
  strong {
    padding: 0 8px;
    line-height: 24px;
    color: var(--color-heading);
    text-decoration: none;
    white-space: nowrap;
    background: var(--background-light);
    border-radius: 8px;
  }

  a {
    color: #2364d2;
  }

  svg {
    margin-right: 10px;

    path {
      fill: var(--color-summary);
    }
  }

  .icon-branches {
    width: 8px;
    height: 11px;
  }

  .icon-node {
    width: 12px;
    height: 8px;
  }

  .avatar {
    border: 1px solid #343030;
  }
}
