.new-build-form {
  display: flex;
  flex-flow: column;

  &-column {
    display: flex;
    flex-flow: column;

    &-list {
      span {
        margin-bottom: 12px;
      }
    }
  }

  &-parameters {
    display: flex;

    & > * + * {
      margin-left: 10px;
    }

    button {
      color: var(--color-error-medium);
    }

    &-list {
      margin: 6px 0 12px;

      & > * + * {
        margin-top: 5px;
      }
    }

    &-fields {
      display: flex;

      button {
        color: #0092e4;
      }

      & > * + * {
        margin-left: 10px;
      }
    }
  }

  &-controls {
    padding-top: 15px;

    & > * + * {
      margin-left: 10px;
    }

    button {
      box-sizing: border-box;
      padding: 6px 26px;
      border: 1px solid var(--color-primary-7);
      border-radius: 8px;
      box-shadow: 0 0 1px var(--shadow-3), 0 2px 4px var(--shadow-5);
    }

    button:first-child {
      color: white;
      background-color: var(--color-primary-7);
    }

    button:last-child {
      color: var(--color-primary-7);
      background: var(--background-card);
    }
  }
}
