.header {
  padding: 0px 60px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  min-height: 80px;
  max-height: 80px;
}

.tabs {
  display: flex;
  width: 100%;
  filter: drop-shadow(0px 4px 4px rgba(207, 207, 207, 0.25));
  background-color: #fff;
  padding: 0px 60px;
  .tab {
    text-decoration: none;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.4px;
    color: #333333;
    position: relative;
    padding: 16px 10px;
    text-align: center;
    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 3px;
      border-radius: 4px 4px 0 0;
      background-color: #0278d5;
      opacity: 0;
      transition: opacity 0.2s ease;
    }
    + .tab {
      margin-left: 20px;
    }
    &-active {
      &:before {
        opacity: 1;
      }
    }
    &-disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}

@media only screen and (max-width: 992px) {
  .header,
  .tabs {
    padding-left: 32px;
    padding-right: 32px;
  }
}
