.radio {
  display: inline-flex;

  &-fake {
    position: relative;
    display: block;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border: 1px solid var(--color-primary-7);
    border-radius: 50%;
    transition: background-color 0.2s ease;

    &.appearance-checkmark {
      border: 1px solid var(--color-summary);
    }

    i {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 8px;
      height: 8px;
      background-color: #f7f7fa;
      border-radius: 50%;
      box-shadow: 0 1px 2px rgba(40, 41, 61, 0.4), 0 2px 4px rgba(96, 97, 112, 0.2);
      opacity: 0;
      transition: opacity 0.2s ease;
      transform: translate(-50%, -50%);
    }

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 15px;
      opacity: 0;
      transform: translate(-50%, -40%);
    }

    &.disabled {
      background-color: #f2f2f5;
      border-color: #ebebf0;
    }
  }

  .label {
    margin-left: 12px;
  }

  input:checked {
    & ~ .radio-fake {
      background-color: var(--color-primary-7);

      &.appearance-checkmark {
        border-color: var(--color-primary-7);
      }

      i {
        opacity: 1;
      }

      svg {
        opacity: 1;
      }
    }

    &:disabled {
      & ~ .radio-fake {
        background-color: #7f8197;
        border-color: #7f8197;
      }
    }
  }
}
