@import "styles/_variables";

.wrapper {
  display: flex;
  height: 100vh;
  padding: 0;

  p {
    display: block;
    padding-top: 8px;
    font-size: 16px;
    line-height: 24px;
    color: #9293ab;
  }
}

.login {
  flex: 0 0 580px;
  padding: 100px;
  background-color: #fff;
}

.kicker {
  margin-bottom: 60px;

  svg {
    height: 64px;
  }
}

.header {
  margin-bottom: 30px;

  .title {
    font-size: 32px;
    font-weight: 500;
    line-height: 44px;
    color: #22222a;
  }
}

.illustration {
  display: flex;
  flex: 1;
  align-items: flex-end;
  justify-content: flex-end;
  background-color: #0a3364;
}

.btn {
  width: 100%;
  min-width: 100px;
  padding: 10px 20px;
  font-family: $font-family-primary;
  font-size: 13px;
  font-weight: 500;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #00ade4;
  border: none;
  border-radius: 6px;

  &:active,
  &:hover {
    box-shadow: 0 0 2px rgba(40, 41, 61, 0.04), 0 4px 8px rgba(96, 97, 112, 0.16);
  }

  &:active {
    background: #0a3364;
  }
}

.error {
  padding: 12px 22px;
  margin: 20px 0;
  font-size: 16px;
  line-height: 22px;
  color: #cf2318;
  background: #fcedec;
  border-left: 4px solid #cf2318;
}

.legal {
  margin-top: 40px;
  font-size: 13px;
  line-height: 20px;
  color: #4f5162;

  a {
    color: #0378d5;
    text-decoration: none;
  }
}
