.elapsed {
  &-static {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: var(--color-label);

    svg {
      width: 19px;
      height: 19px;
      margin-right: 8px;
      color: var(--color-summary);
    }
  }
}
