.elapsed {
  &-static {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #4f5162;

    svg {
      width: 19px;
      height: 19px;
      margin-right: 8px;
      color: #9293ab;
    }
  }
}
