.wrapper {
  display: flex;
  align-items: center;
  background: var(--background-card);
  border-radius: 100px;
  box-shadow: 0 0 1px var(--shadow-4), 0 0.5px 2px var(--shadow-5);
}

.option {
  flex: 1;
  padding: 7px 19px;
  color: var(--color-summary);
  cursor: pointer;
  background-color: inherit;
  border: 0;
  border-radius: 100px;
  transition: color 0.2s ease;
  transition: background-color 0.2s ease;

  &:focus {
    outline: none;
  }

  &-selected {
    color: #3e7bfa;
    background-color: #effbff;
  }
}
