@import "styles/_variables";
@import "styles/mixins";

.header {
  padding: 0px 60px;
  height: 106px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h1 {
    font-size: 24px;
  }

  .breadcrumb {
    margin-bottom: 10px;
  }
  @include sm-down {
    flex-direction: column;
    height: 180px;
    justify-content: center;
    align-items: flex-start;
    padding: 0px 32px;
  }
}

.tabs {
  display: flex;
  width: 100%;
  filter: drop-shadow(0px 4px 4px rgba(207, 207, 207, 0.25));
  background-color: #fff;
  padding: 0px 60px;
  .tab {
    text-decoration: none;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.4px;
    color: #333333;
    position: relative;
    padding: 16px 10px;
    text-align: center;
    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 3px;
      border-radius: 4px 4px 0 0;
      background-color: #0278d5;
      opacity: 0;
      transition: opacity 0.2s ease;
    }
    + .tab {
      margin-left: 20px;
    }
    &-active {
      &:before {
        opacity: 1;
      }
    }
    &-disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
  @include sm-down {
    padding: 0px;
    flex-wrap: wrap;
    .tab {
      flex: 1 1 50%;
      border: 1px solid transparent;
      transition: border-color 0.2s ease;
      &:not(.tab-active) {
        &:nth-child(1),
        &:nth-child(3) {
          border-right-color: rgba(0, 0, 0, 0.1);
        }
        &:nth-child(1),
        &:nth-child(2) {
          border-bottom-color: rgba(0, 0, 0, 0.1);
        }
      }
      &-active {
        &:before {
          display: none;
        }
        background: #f3f3fa;
        color: #0378d4;
      }
      + .tab {
        margin-left: 0;
      }
    }
  }
}

.new-build-btn {
  background-color: #0278d5;
  color: white;
  padding: 10px 24px;
  padding-left: 20px;
  border-radius: 8px;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  height: 36px;
  margin-top: 26px;

  svg {
    width: 18px;
    height: 18px;
  }

  span {
    font-size: 13px !important; // TODO fix base style so we can remove
  }
}
