@import "styles/_variables";
@import "styles/mixins";

.inner {
  padding: 26px 33px;
  margin-bottom: 24px;
  background: var(--background-card);
  border-radius: 8px;
  box-shadow: 0 0 1px var(--shadow-4), 0 0.5px 2px var(--shadow-5);
}

.form {
  .form-section-row + .form-section-row {
    margin-top: 40px;
  }
}

.form-section {
  &-row {
    h3 {
      padding-bottom: 12px;
      margin-bottom: 20px;
      font-size: 15px;
      font-weight: 600;
      line-height: 20px;
      border-bottom: 1px solid var(--border-form);
    }

    .switch-row + .switch-row {
      margin-top: 11px;
    }

    &-is-last {
      display: flex;
      padding-top: 16px;
      margin-bottom: 36px;
      border-top: 1px solid var(--border-form);

      > * + * {
        margin-left: 37px;
      }

      .timeout span,
      .config label {
        font-size: 13px;
        font-weight: normal;
        line-height: 22px;
        color: var(--color-content);
      }

      @include sm-down {
        flex-flow: column;

        > * + * {
          margin-top: 20px;
          margin-left: 0;
        }
      }
    }
  }
}

.switch-row {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .note {
    flex: 0 0 50%;
    font-size: 13px;
    line-height: 13px;
    color: var(--color-summary);
    text-align: end;
  }

  @include md-down {
    flex-wrap: wrap;

    .note {
      flex: 1 1 100%;
      margin-top: 10px;
      text-align: start;
    }
  }
}

.btn {
  min-width: 100px;
  height: 36px;
  padding: 6px 20px;
  padding: 10px 24px;
  padding-left: 20px;
  font-family: $font-family-primary;
  font-size: 13px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  border-radius: 8px;

  &-save {
    color: white;
    background-color: var(--color-primary-7);
    box-shadow: 0 0 1px var(--shadow-4), 0 0.5px 2px var(--shadow-5);
  }

  &-disable {
    display: flex;
    align-items: center;
    color: #da291d;
    letter-spacing: 1px;
    background-color: transparent;
    border: 1px solid #da291d;
    box-shadow: 0 0 1px var(--shadow-4), 0 0.5px 2px var(--shadow-5);

    svg {
      width: 20px;
      height: 20px;
      margin-right: 9px;
    }

    &:focus {
      outline: none;
    }

    @include sm-down {
      justify-content: center;
    }
  }
}

.visibility {
  &-container {
    display: flex;
    margin-top: 21px;

    & > * + * {
      margin-left: 25px;
    }

    @include sm-down {
      flex-flow: column;

      & > * + * {
        margin-top: 25px;
        margin-left: 0;
      }
    }
  }

  &-card-wrapper {
    display: flex;
    flex: 0 0 250px;
    flex-flow: column;
    align-items: center;
    justify-content: center;

    @include lg-down {
      flex: 1 1 100%;
    }
  }

  &-card {
    height: 100%;
    padding: 24px 32px;
    margin-bottom: 15px;
    text-align: center;
    background: var(--background-card);
    border-radius: 6px;
    box-shadow: 0 0 1px var(--shadow-3), 0 2px 4px var(--shadow-5);

    h4 {
      margin-bottom: 12px;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      color: var(--color-text);
    }

    p {
      font-size: 13px;
      line-height: 17px;
      color: var(--color-title);
      text-align: center;
    }

    @include sm-down {
      width: 100%;
    }
  }
}

.controls {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  border-top: 1px solid var(--border-form);

  @include sm-down {
    flex-flow: column;

    & > * + * {
      margin-top: 20px;
    }
  }
}
