@import "styles/_variables";
@import "styles/mixins";

.list a {
  text-decoration: none;
  cursor: pointer;
}

.item {
  display: grid;
  grid-template-rows: 24px auto; // 100px 200px auto;
  grid-gap: 10px;
  padding: 19px 15px;
  margin-bottom: 10px;
  text-align: left;
  background: #fff;
  border-radius: 10px;

  box-shadow: 0 0 1px rgba(40, 41, 61, 0.08), 0 0px 2px rgba(96, 97, 112, 0.16);
  transition: box-shadow 0.1s linear;

  &:hover {
    box-shadow: 0 1px 6px -3px rgba(0, 0, 0, 0.5);
  }

  .date {
    padding-right: 5px;
  }

  &.inactive {
    grid-gap: 0px;
    grid-template-rows: 24px;
    .detail {
      display: none;
    }
  }
}

.title {
  display: grid;
  grid-template-columns: 24px 1fr auto;
  grid-gap: 15px;
  color: #627386;
  span {
    color: black;
    font-weight: 400;
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
  }
}

.detail {
  display: grid;
  grid-template-columns: 24px 1fr auto;
  grid-gap: 15px;

  &.inactive {
    display: none;
  }

  & > div {
    display: flex;
    align-items: center;
    color: #627386;
    font-size: 13px;
    line-height: 26px;
  }

  .date {
    font-size: 13px;
    justify-content: flex-end;
  }

  strong {
    background: #f3f3fa;
    border-radius: 8px;
    color: #22222a;
    line-height: 26px;
    padding: 0px 8px;
    font-weight: 400;
    font-size: 13px;
    display: inline-flex;
    align-items: center;
    margin-right: 8px;

    svg {
      color: #9293ab;
      width: 20px;
      height: 20px;
      margin-right: 4px;
    }
  }

  span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 600px;
    @include sm-down {
      display: flex;
      white-space: normal;
      margin: 10px 0;
      line-height: 1.3;
    }
  }

  @include md-down {
    display: flex;
    flex-flow: column;
    margin-left: 38px;
    grid-gap: unset;
    .spacer {
      display: none;
    }
    .commit {
      display: flex;
      flex-flow: column;
      align-items: flex-start;
      strong {
        margin-bottom: 5px;
      }
    }
    .date {
      justify-content: flex-start;
    }
  }
}

// .commit {
//   padding-left: 50px;
// }
