@import "styles/_variables";
@import "styles/mixins";

@keyframes spinner-border {
  to {
    transform: rotate(360deg);
  }
}

.wrapper {
  max-width: var(--bp-xl);
  margin: 0 auto;

  .section-title {
    padding-left: 0;
    margin-left: 10px;
    font-size: 16px;
    font-weight: 500;
    color: var(--color-title);
    text-transform: uppercase;

    &-recent {
      margin: 24px 0 18px 10px;
    }
  }
}

.header {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  min-height: 80px;
  max-height: 80px;
  padding: 0 60px;

  button {
    padding: 10px 24px;
    font-size: 13px;
    font-weight: 500;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    background-color: var(--color-primary-7);
    border-radius: 8px;
  }

  @include sm-down {
    padding: 0 20px;
  }
}

.subheader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 6px;

  .actions {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;

    & > * + * {
      margin-left: 24px;
    }
  }

  @include md-down {
    flex-wrap: wrap;
    margin-bottom: 0;

    .actions {
      flex: 1 1 100%;
      flex-flow: column;
      align-items: flex-end;
      justify-content: center;
      padding: 10px 0;

      & > * + * {
        margin-top: 12px;
        margin-left: 0;
      }
    }
  }
}

.btn {
  min-width: 100px;
  padding: 6px 20px;
  font-family: $font-family-primary;
  font-weight: 500;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  box-shadow: 0 0 1px var(--shadow-4), 0 0.5px 2px var(--shadow-5);

  &:focus {
    outline: none;
  }

  &-sync {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #0092e4;

    &:disabled {
      cursor: not-allowed;
    }

    &-spinner {
      display: inline-block;
      width: 12px;
      height: 12px;
      margin-right: 10px;
      border: 2px solid #fff;
      border-right-color: transparent;
      border-radius: 50%;
      animation: spinner-border 1s linear infinite;
    }
  }

  &-show-more {
    margin-top: 20px;
    margin-left: 10px;
    color: #0092e4;
    text-transform: capitalize;
    box-shadow: none;
  }
}

.system-messages-wrapper {
  position: fixed;
  right: 60px;
  bottom: 30px;
  left: 125px;
  z-index: 999;
  user-select: none;

  .message-with-link {
    a {
      margin-left: 10px;
      color: inherit;
      text-decoration: none;
      border-bottom: 1px solid #fff;
      transition: opacity 0.2s ease-in-out;

      &:hover {
        opacity: 0.9;
      }
    }
  }

  @media only screen and (max-width: 750px) {
    right: 20px;
    left: 20px;
  }
}

.search {
  padding: 8px 0 8px 0;
  font-size: 14px;

  &::placeholder {
    font-size: 14px;
    line-height: 22px;
    color: var(--color-summary);
    letter-spacing: 0.25px;
  }

  @include md-down {
    width: 100%;
    padding: 0;

    input {
      width: 100% !important;
    }
  }
}

.zero-state-msg {
  a {
    color: var(--color-link);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
