@import "styles/mixins";

.wrapper {
  display: flex;

  &-menu {
    position: relative;
  }
}

.btn-menu-controller {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 50%;
  outline: none;

  svg {
    stroke: rgba(0, 0, 0, 0.38);
  }

  i {
    width: 4px;
    height: 4px;
    background: rgba(0, 0, 0, 0.38);
    border-radius: 50%;

    + i {
      margin-top: 2px;
    }
  }

  &:focus {
    outline: none;
  }

  &:active,
  &.is-open {
    cursor: default;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid transparent;
  }

  &.is-focused:not(&:active) {
    border: 1px solid rgba(#0278d5, 0.7);
  }
}

.menu {
  position: absolute;
  top: calc(100% + 5px);
  z-index: 3;
  min-width: 100px;
  overflow: hidden;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 2px rgba(40, 41, 61, 0.04), 0 4px 8px rgba(96, 97, 112, 0.16);

  &-left {
    left: 0;
  }

  &-right {
    right: 0;
  }

  &-item {
    padding: 5px 10px;
    cursor: pointer;
    transition: all 0.2s ease;

    &:focus {
      color: #0278d5;
      background-color: #e6faff;
      outline: none;
    }

    @include hover {
      color: #0278d5;
    }
  }
}
