@import "../../variables";

.tabs {
  position: absolute;
  bottom: -(@layout-margin / 2) - 1px;
  right: @layout-margin / 2;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #eee;
  list-style: none;

  .tab {
    float: left;
    margin-bottom: 5px;
  }

  a {
    padding: 10px 20px;
    border: none;
    color: #C7CCD1;
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;

    &.active {
      border: 1px solid #eee;
      border-bottom: 1px solid #fff;
      border-radius: 0.25rem 0.25rem 0 0;
      color: #2b303b;
    }
  }
}
