@import "../../index";

.tabs {
  position: absolute;
  bottom: -(@layout-margin) - 1px;
  right: 0;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #eee;
  list-style: none;

  .tab {
    float: left;
    margin-bottom: 4px;
  }

  a {
    padding: (@layout-margin / 4) (@layout-margin / 2);
    border: none;
    color: #C7CCD1;
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;

    &.active {
      border: 1px solid #eee;
      border-bottom: 1px solid #fff;
      color: #2b303b;
    }
  }
}
