.header {
  padding: 26px 33px;
}

.wrapper {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 260px 1fr;
  column-gap: 44px;
  max-width: 1400px;
  padding-top: 22px;
  padding-right: 60px;
  padding-bottom: 60px;
  padding-left: 60px;
  margin: 0 auto;
  margin-top: 54px;
}

.settings-nav {
  display: flex;
  flex-flow: column;
  align-items: flex-start;

  &-item {
    position: relative;
    flex: 1;
    width: 100%;
    padding-top: 10px;
    padding-right: 17px;
    padding-bottom: 10px;
    padding-left: 17px;
    font-size: 14px;
    line-height: 24px;
    color: var(--color-text);
    text-decoration: none;
    background-color: transparent;
    border-radius: 5px;
    transition: background-color 0.2s ease;

    &-active {
      color: var(--color-primary-7);
      background: var(--background-light);
    }
  }

  &-section-header {
    padding: 10px 17px;
    margin-top: 22px;
    font-size: 12px;
    font-weight: 500;
    line-height: 24px;
    color: var(--color-summary);
    text-transform: uppercase;
  }
}

.inactive {
  &-wrapper {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-top: 54px;
  }

  &-inner {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

    > svg {
      width: 202px;
      height: 160px;
      margin-top: 48px;
      margin-bottom: 48px;
    }

    h2 {
      font-size: 22px;
      font-weight: 500;
      line-height: 28px;
      color: var(--color-label);
    }

    p {
      max-width: 350px;
      margin: 0;
      margin-top: 12px;
      font-size: 15px;
      line-height: 22px;
      color: var(--color-label);
      text-align: center;
    }

    button {
      height: 36px;
      padding: 10px 24px;
      padding-left: 20px;
      margin-top: 26px;
      font-size: 13px;
      font-weight: 500;
      color: white;
      text-decoration: none;
      text-transform: uppercase;
      background-color: var(--color-primary-7);
      border-radius: 8px;
      box-shadow: 0 0 1px var(--shadow-4), 0 0.5px 2px var(--shadow-5);
    }
  }
}

@media only screen and (max-width: 1250px) {
  .wrapper {
    display: block;
    grid-template-rows: auto;
    grid-template-columns: unset;
    margin-top: 16px;
  }

  .settings-nav {
    max-width: 400px;
    margin-bottom: 36px;
  }
}

@media only screen and (max-width: 992px) {
  .settings-nav {
    margin-bottom: 36px;
  }
}

@media only screen and (max-width: 768px) {
  .wrapper {
    padding-right: 20px;
    padding-left: 20px;
  }

  .settings-nav {
    max-width: unset;
  }
}
