@import "../../index";

.header {
  .clearfix();
  margin: (@layout-margin / 2) @layout-margin;

  .avatar {
    float: right;
    margin-left: @layout-margin / 4;
  }

  .logo {
    float: none;
  }

  @import "dropdown";
  .dropdown {
    float: right;
    margin-left: @layout-margin / 4;
  }

  .search {
    float: left;
    width: 100%;

    input {
      &:extend(input);
      width: 100%;
    }
  }
}
