@import "styles/_variables";
@import "styles/mixins";

.wrapper {
  display: flex;
  min-height: 100vh;
  padding: 0;

  @include md-down {
    flex-flow: column;
  }

  @include sm-down {
    display: block;
    height: 100vh;
  }
}

.login {
  flex: 0 0 580px;
  height: inherit;
  padding: 100px;
  background-color: #fff;

  @include md-down {
    flex: 0 0 auto;
  }

  @include sm-down {
    display: flex;
    flex-flow: column;
    padding: 20px;
  }
}

.kicker {
  margin-bottom: 60px;

  svg {
    height: 64px;
  }
}

.header {
  margin-bottom: 30px;

  .title {
    font-size: 32px;
    font-weight: 600;
    line-height: 44px;
    color: var(--color-heading);

    &-sub {
      font-size: 16px;
      line-height: 24px;
      color: var(--color-heading);
    }
  }

  p {
    display: block;
    padding-top: 8px;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-summary);
  }

  @include sm-down {
    margin-bottom: auto;
  }
}

.illustration {
  display: flex;
  flex: 1;
  align-items: flex-end;
  justify-content: flex-end;
  background-color: var(--color-primary-9);

  svg {
    height: 100%;
  }

  @include sm-down {
    display: none;
  }
}

.btn {
  display: flex;
  width: 100%;
  min-width: 100px;
  padding: 10px 20px;
  font-family: $font-family-primary;
  font-size: 13px;
  font-weight: 500;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  background: var(--color-primary-5);
  border: none;
  border-radius: 6px;

  &:active,
  &:hover {
    box-shadow: 0 0 2px var(--shadow-3), 0 4px 8px var(--shadow-5);
  }

  &:active {
    background: var(--color-primary-9);
  }

  span {
    flex: 1 1 auto;
    line-height: 24px;
    text-align: center;
  }

  svg {
    width: 24px;
    height: 24px;
  }
}

.chevron-right {
  transform: rotate(-90deg);
}

.error {
  padding: 12px 22px;
  margin: 20px 0;
  font-size: 16px;
  line-height: 22px;
  color: #cf2318;
  background: #fcedec;
  border-left: 4px solid #cf2318;
}
