.card {
  display: flex;
  margin-bottom: 8px;
  border: none;
  border-radius: 0;
  border-top: 1px solid #eceeef;
  text-decoration: none;
  color: #2b303b;

  &:nth-child(2) {
    border-top: 0;
  }
}

.card .card-header {
  width: 48px;
  padding: 0;
  padding-top: 32px;
  border: none;
  background: #FFF;
}

.card .card-block {
  flex: 1 1 auto;
  padding: 32px 16px 16px 16px;

  h3 {
    display: inline-block;
    margin: 0;
    line-height: 22px;
    font-size: 18px;
  }
}
