@import "../variables";

.term-row {
  background: #EEE;
  color: #212121;
  font-size: 12px;
  line-height: 19px;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-family: @font-family-mono;

  display: flex;

  &> .row-num,
  &> .row-time {
    -webkit-user-select: none;
            user-select: none;
  }

  &> .row-num {
    min-width: 2.5em;
    text-align: right;

    padding-right:20px;
    color:rgba(0,0,0,0.3);
  }

  &> .row-line {
    flex: 1 1 auto;
  }

  &> .row-time {
    padding-left:20px;
    color:rgba(0,0,0,0.3);
  }
}

.term-row.term-row-exit-code {
  &> div:first-child {
    margin-top:10px;
    padding: 0px;
  }
}

.ansi-black-fg { color: #151515; }
.ansi-red-fg { color: #fb9fb1; }
.ansi-green-fg { color: #acc267; }
.ansi-yellow-fg { color: #ddb26f;}
.ansi-blue-fg { color: #6fc2ef; }
.ansi-magenta-fg { color: #e1a3ee;}
.ansi-cyan-fg { color: #12cfc0; }
.ansi-white-fg { color: #d0d0d0; }

.ansi-bright-black-fg { color: #505050; }
.ansi-bright-red-fg { color: #fb9fb1; }
.ansi-bright-green-fg {color: #acc267;}
.ansi-bright-yellow-fg {color: #ddb26f;}
.ansi-bright-blue-fg {color: #6fc2ef;}
.ansi-bright-magenta-fg {color: #e1a3ee;}
.ansi-bright-cyan-fg {color: #12cfc0; }
.ansi-bright-white-fg { color: #f5f5f5; }

.ansi-black-bg { background-color: #151515; }
.ansi-red-bg { background-color: #fb9fb1; }
.ansi-green-bg { background-color: #acc267; }
.ansi-yellow-bg { background-color: #ddb26f;}
.ansi-blue-bg { background-color: #6fc2ef; }
.ansi-magenta-bg { background-color: #e1a3ee;}
.ansi-cyan-bg { background-color: #12cfc0; }
.ansi-white-bg { background-color: #d0d0d0; }

.ansi-bright-black-bg { background-color: #505050; }
.ansi-bright-red-bg { background-color: #fb9fb1; }
.ansi-bright-green-bg {background-color: #acc267;}
.ansi-bright-yellow-bg {background-color: #ddb26f;}
.ansi-bright-blue-bg {background-color: #6fc2ef;}
.ansi-bright-magenta-bg {background-color: #e1a3ee;}
.ansi-bright-cyan-bg {background-color: #12cfc0; }
.ansi-bright-white-bg { background-color: #f5f5f5; }
