.checkbox {
  display: inline-flex;

  &-fake {
    position: relative;
    display: block;
    width: 16px;
    height: 16px;
    margin-right: 12px;
    background-color: #fff;
    border: 1px solid var(--color-primary-7);
    border-radius: 4px;
    transition: background-color 0.2s ease;

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 14px;
      opacity: 0;
      transition: opacity 0.2s ease;
      transform: translate(-50%, -40%);
    }

    &.disabled {
      background-color: #f2f2f5;
      border-color: #ebebf0;
    }
  }

  input:checked {
    & ~ .checkbox-fake {
      background-color: var(--color-primary-7);

      svg {
        opacity: 1;
      }
    }

    &:disabled {
      & ~ .checkbox-fake {
        background-color: #7f8197;
        border-color: #7f8197;
      }
    }
  }
}
