.wrapper {
  display: flex;
}

.info {
  margin-right: 19px;
  .summary {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 190px);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 19px;
    row-gap: 15px;
    height: 100%;
    li:nth-child(1) {
      grid-column: 1;
      grid-row: 1;
    }
    li:nth-child(2) {
      grid-column: 2;
      grid-row: 1;
    }
    li:nth-child(3) {
      grid-column: 1;
      grid-row: 2;
    }
    li:nth-child(4) {
      grid-column: 2;
      grid-row: 2;
    }
  }
  .title {
    font-weight: 500;
    font-size: 14px;
    line-height: 12px;
    letter-spacing: 0.03em;
    color: #383946;
    text-transform: uppercase;
    margin-bottom: 22px;
  }
  .item {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: center;
    background: #ffffff;
    box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.08), 0px 0.5px 2px rgba(96, 97, 112, 0.16);
    padding: 18px 20px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    &-heading {
      font-size: 13px;
      color: #9293AB;
      line-height: 13px;
      height: 13px;
    }
    &-content {
      font-weight: 500;
      font-size: 22px;
      line-height: 24px;
      letter-spacing: 0.03em;
      color: #383946;
      flex: 1 1 auto;
      align-items: flex-end;
      display: flex;

      sub {
        margin-left: 5px;
      }
      span + span {
        margin-left: 3px;
      }
      .status {
        text-transform: capitalize;
        &-running {
          color: #FCB519;
        }
        &-success {
          color: #1d841d;
        }
        &-failure,
        &-killed,
        &-error {
          color: #B41710;
        }
        &-pending {
          color: #4F5162;
        }
      }
    }
  }
}
.bar-wrapper {
  width: 100%;
  overflow: hidden;
  background: #ffffff;
  box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.08), 0px 0.5px 2px rgba(96, 97, 112, 0.16);
  border-radius: 6px;
  padding: 27px 43px 27px 27px;
  min-height: 210px;
}

@media only screen and (max-width: 768px) {
  .wrapper {
    display: none;
  }
}
