.form {
  h2 {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #4F5162;
    margin-bottom: 17px;
  }
  &-section {
    h3 {
      font-weight: 500;
      font-size: 13px;
      line-height: 16px;
      letter-spacing: 0.2px;
      color: #28293D;
      margin-bottom: 10px;
    }
    + .form-section {
      margin-top: 17px;
    }
  }
}
