
/*
 * text-security-disc font-family sets the font to disc character to prevent shoulder surfing attacks.
 * Source code: https://github.com/noppa/text-security
 * LICENSE: https://raw.githubusercontent.com/noppa/text-security/master/LICENSE
 */
@font-face {
    font-family: 'text-security-disc';
    src: url('text-security/text-security-disc.eot');
    src: url('text-security/text-security-disc.eot?#iefix') format('embedded-opentype'),
        url('text-security/text-security-disc.woff2') format('woff2'),
        url('text-security/text-security-disc.woff') format('woff'),
        url('text-security/text-security-disc.ttf') format('truetype'),
        url('text-security/text-security-disc.svg#text-security') format('svg');
}

.hide_secret {
    font-family: 'text-security-disc';
}
