@font-face {
    font-family: 'text-security-disc';
    src: url('text-security-disc.eot');
    src: url('text-security-disc.eot?#iefix') format('embedded-opentype'),
        url('text-security-disc.woff2') format('woff2'),
        url('text-security-disc.woff') format('woff'),
        url('text-security-disc.ttf') format('truetype'),
        url('text-security-disc.svg#text-security') format('svg');
}