.breadcrumb {
  display: inline-flex;
  align-items: center;
  margin-bottom: 11px;
}

.breadcrumb-item {
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: var(--color-content);
  user-select: none;

  a {
    font-size: 14px;
    line-height: 16px;
    color: var(--color-summary);
    text-decoration: none;
  }
}

.breadcrumb-spacer {
  display: inline-flex;
  align-items: center;
  width: 18px;
  height: 18px;
  margin: 0 8px;
  color: var(--color-summary);
}
