.repository {
  &.history {

    a {
      padding:0px 15px;
      display: block;
      text-decoration: none !important;
      border-top: 1px solid #EEE;

      &:first-child {
        border-top: 0;
      }
    }
  }
}
