.repository {
  &.history {

    a {
      padding:0px 15px;
      display: block;
      text-decoration: none !important;
      border-top: 1px solid #EEE;

      &:first-child {
        border-top: 0;
      }
    }
  }
}

.repository-search {
  height: 50px;
  margin: 0px;
  padding: 0px;
  min-height: 50px;
  max-height: 50px;
  border-bottom: 1px solid #EEE;
  box-sizing: border-box;

  input {
    height: 100%;
    border: none;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    padding: 15px 15px;
    font-size: 15px;
  }
}

::-webkit-input-placeholder {
  color: #BDBDBD;
}
