@import "../../../shared/styles/colors.less";
@import "~shared/styles/utils.less";

.list {
	a {
		display:block;
		border-top:1px solid @gray-extralight;
		text-decoration: none;
		color: @gray-dark;
		&:first-of-type {
			border-top-width: 0px;
		}
	}
}

.item {
	display: flex;
	flex-direction: column;
	padding: 20px;
	text-decoration: none;

	.header {
		margin-bottom: 10px;
		display: flex;
	}

	.title {
		font-size: 15px;
		line-height:22px;
		color: @gray-dark;
		flex: 1 1 auto;
		max-width:250px;
		padding-right: 20px;
		.text-ellipsis
	}

	.body div time {
		font-size: 13px !important;
		color: @gray-dark;
	}

	.body time {
		color: @gray-dark;
		font-size:13px;
		line-height:22px;
		vertical-align: middle;
		display: inline-block;
		padding:0px;
		margin:0px;
	}

	.body svg {
		fill: @gray-dark;
		vertical-align: middle;
		margin-right:10px;
		line-height:22px;
	}
}
