.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  font-size: 12px;
  cursor: default;
  border-radius: 50%;
}

.image,
.stub {
  width: inherit;
  height: inherit;
  border-radius: inherit;
}

.stub {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: inherit;
  font-weight: 500;
  line-height: 1;
  color: #fff;
  text-transform: uppercase;
}
