@import "styles/_variables";
@import "styles/mixins";

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0;
}

.inner {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;

  > svg {
    width: 202px;
    height: 160px;
    margin-bottom: 32px;
  }

  .title {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    color: var(--color-label);
  }

  .note {
    max-width: 350px;
    margin: 0;
    margin-bottom: 28px;
    font-size: 16px;
    line-height: 24px;
    color: #000;
    text-align: center;

    sub {
      margin-left: 8px;
      color: var(--color-summary);
    }
  }

  @include sm-down {
    padding: 60px 20px 0 20px;
    margin-top: 0;

    h2 {
      text-align: center;
    }
  }

  @include xs-down {
    svg {
      width: auto;
      height: auto;
      margin-bottom: 20px;
    }
  }
}

.btn {
  height: 36px;
  padding: 10px 24px;
  padding-left: 20px;
  font-size: 13px;
  font-weight: 500;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  background-color: var(--color-primary-7);
  border-radius: 8px;
  box-shadow: 0 0 1px var(--shadow-4), 0 0.5px 2px var(--shadow-5);
}
