@import "styles/_variables";
@import "styles/mixins";

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0;
}

.inner {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  > svg {
    margin-bottom: 32px;
    width: 202px;
    height: 160px;
  }
  .title {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #4f5162;
  }
  .note {
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin: 0;
    margin-bottom: 28px;
    max-width: 350px;
    text-align: center;

    sub {
      color: #9293ab;
      margin-left: 8px;
    }
  }
  @include sm-down {
    padding: 60px 20px 0 20px;
    margin-top: 0;
    h2 {
      text-align: center;
    }
  }
  @include xs-down {
    svg {
      width: auto;
      height: auto;
      margin-bottom: 20px;
    }
  }
}

.btn {
  box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.08), 0px 0.5px 2px rgba(96, 97, 112, 0.16);
  background-color: #0278d5;
  color: white;
  padding: 10px 24px;
  padding-left: 20px;
  border-radius: 8px;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  height: 36px;
}
