@import "./_variables";

@mixin tablet($withClass: false) {
  @media (max-width: $bp-tablet - 1px) {
    @content
  }

  @if($withClass) {
    &.media-tablet {
      @content
    }
  }
}

@mixin mobile($withClass: false) {
  @media (max-width: $bp-mobile) {
    @content
  }

  @if($withClass) {
    &.media-mobile {
      @content
    }
  }
}

@mixin hf {
  &:hover,
  &:focus {
    @content
  }
}

@mixin themed($attached: false) {
  @each $theme, $map in $themes {
    $wrapped-selector: ".theme--#{$theme} &";
    @if $attached {
      $wrapped-selector: "&.theme--#{$theme}";
    }
    #{$wrapped-selector} {
      $theme-map: () !global;

      @each $key, $value in $map {
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }

      @content;
      $theme-map: null !global;
    }
  }
}

@mixin themed-only($theme: default, $attached: false) {
  $wrapped-selector: ".theme--#{$theme} &";
  @if $attached {
    $wrapped-selector: "&.theme--#{$theme}";
  }
  #{$wrapped-selector} {
    $theme-map: () !global;
    
    $map: map-get($themes, $theme);
    @each $key, $value in $map {
      $theme-map: map-merge($theme-map, ($key: $value)) !global;
    }

    @content;
    $theme-map: null !global;
  }
}

@function tget($key) {
  @return map-get($theme-map, $key);
}