$bp-tablet: 980px;
$bp-mobile: 480px;

/*    mobile       tablet       desktop    */
/* [-----------](-----------)[-----------> */
/*           480px       980px             */

$body-color: #fbfbfb;

$color-text: #192D46;
$color-primary: #0564d7;
$color-warning: #ff7d00;
$color-danger: #ff4164;

$header-color: #192d46;
$header-height: 56px;
$header-padding-side: 15px;

$button-outline-hover-bg-opacity: 0.1;

$step-selected-bg-color: #f8f9f9 // rgba(#fff, 0.03) on white bg

