$bp-tablet: 980px;
$bp-mobile: 480px;

/*    mobile       tablet       desktop    */
/* [-----------](-----------)[-----------> */
/*           480px       980px             */

$color-primary: #0564d7;

$header-color: #194b87;
$header-height: 56px;
$header-padding-side: 15px;

$button-outline-hover-bg-opacity: 0.1;

$step-selected-bg-color: #f8f9f9 // rgba(#fff, 0.03) on white bg

