$bp-tablet: 980px;
$bp-mobile: 480px;

/*    mobile       tablet       desktop    */
/* [-----------](-----------)[-----------> */
/*           480px       980px             */

$color-text: #192D46;
$color-primary: #0564d7;
$color-warning: #ff7d00;
$color-danger: #ff4164;
$color-success: #19d78c;
$color-info: #96a5be;

$bg-color-opacity: 0.07;
$bg-color-opacity-hover: 0.1;
$color-primary-bg: rgba($color-primary, $bg-color-opacity);
$color-primary-bg-hover: rgba($color-primary, $bg-color-opacity-hover);

$body-color: #fbfbfb;
$border-color: rgba($color-text, 0.05);
$bg-hover-color: mix($color-text, #fff, 3%);

$header-color: $color-text;
$header-height: 56px;
$header-padding-side: 15px;

$button-outline-hover-bg-opacity: $bg-color-opacity-hover;

$step-selected-bg-color: $bg-hover-color;

$overlay-z-index: 10;

$box-shadow: 0 2px 4px 0 rgba($color-text, 0.05);
$box-shadow-hover: 0 4px 10px 0 rgba($color-text, 0.2);
