@import "styles/_variables";
@import "styles/mixins";

.wrapper {
  max-width: 1700px;
  padding-top: 54px;
  margin: 0 auto;

  @include sm-down {
    padding-right: 20px;
    padding-left: 20px;

    h2:first-of-type {
      display: none;
    }
  }
}

.section-title {
  padding-left: 0;
  margin-bottom: 18px;
  margin-left: 10px;
  font-size: 16px;
  font-weight: 500;
  color: var(--color-title);
  text-transform: uppercase;
}

.summary {
  margin-bottom: 54px;
}

.btn {
  min-width: 100px;
  padding: 6px 20px;
  font-family: $font-family-primary;
  font-weight: 500;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  box-shadow: 0 0 1px var(--shadow-4), 0 0.5px 2px var(--shadow-5);

  &-show-more {
    color: #0092e4;
    text-transform: capitalize;
    box-shadow: none;
  }
}
