@import '~shared/styles/colors';

.feed {
	width: 300px;

	input {
		border: 0px;
		border-bottom: 1px solid @gray-light;
		box-sizing: border-box;
		font-size: 15px;
		height: 45px;
		line-height: 24px;
		outline: none;
		padding: 0px 20px;
		width: 100%;
	}

	::-moz-input-placeholder {
		color: @gray;
		font-size: 15px;
		font-weight: 300;
	}

	::-webkit-input-placeholder {
		color: @gray;
		font-size: 15px;
		font-weight: 300;
	}
}

.message {
	color: @gray;
	font-size: 15px;
	margin-top: 50px;
	padding: 20px;
	text-align: center;
}

.brand {
	align-items: center;
	border-bottom: 1px solid @gray-light;
	box-sizing: border-box;
	display: flex;
	height: 60px;
	padding: 0px 20px;

	svg {
		fill: @gray-dark;
		width: 30px;
	}
}
