@import "styles/_variables";
@import "styles/mixins";

.cards {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-gap: 32px;
  max-width: 100%;
  padding-bottom: 32px;

  a {
    text-decoration: none;
    display: block;
    cursor: pointer;

    &:nth-child(5),
    &:nth-child(6) {
      display: none;
    }
  }

  @include lg-down {
    grid-template-columns: repeat(3, minmax(0, 1fr));

    a:nth-child(4) {
      display: none;
    }
  }

  @include md-down {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    a:nth-child(4),
    a:nth-child(5),
    a:nth-child(6) {
      display: unset;
    }
  }

  @include sm-down {
    grid-template-columns: minmax(0, 1fr);
  }
}

.card {
  display: flex;
  flex-flow: column;
  background: #fff;
  color: black;
  border-radius: 10px;
  box-shadow: 0 0 1px rgba(40, 41, 61, 0.08), 0 0px 2px rgba(96, 97, 112, 0.16);
  transition: box-shadow 0.1s linear;
  padding: 19px 15px;
  height: 100%;
  &:hover {
    box-shadow: 0 1px 6px -3px rgba(0, 0, 0, 0.5);
  }
}

.header {
  display: flex;
  margin-bottom: 28px;
  .title {
    span {
      display: block;
      white-space: nowrap;
      overflow: hidden;
      font-size: 18px;
      margin-bottom: 3px;
      font-weight: 500;
    }

    .namespace {
      color: #627386;
      font-size: 16px;
      font-weight: 400;

      &:after {
        content: "/";
        margin-left: 1px;
      }
    }
  }
  .status {
    margin-left: auto;
  }
}

.body {
  display: block;
  margin-bottom: 28px;
  span {
    color: #627386;
    display: block;
    max-height: 40px;

    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;

    font-size: 13px;
    line-height: 20px;
    padding-left: 6px;
    margin-top: 5px;
  }
}

.footer {
  display: flex;
  border-top: 1px solid #f3f3fa;
  padding-top: 14px;
  padding-left: 4px;
  align-items: center;
  margin-top: auto;
  .avatar {
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }
}
