@import "styles/_variables";
@import "styles/mixins";

.new-user-form {
  display: flex;
  flex-flow: column;
  min-width: 400px;

  @include sm-down {
    min-width: unset;
  }

  &-column {
    display: flex;
    flex-flow: column;

    &-list {
      span {
        margin-bottom: 12px;
      }
    }
  }

  &-parameters {
    display: flex;

    & > * + * {
      margin-left: 10px;
    }

    button {
      color: var(--color-error-medium);
    }

    &-list {
      margin: 6px 0 12px;

      & > * + * {
        margin-top: 5px;
      }
    }

    &-fields {
      display: flex;

      button {
        color: #0092e4;
      }

      & > * + * {
        margin-left: 10px;
      }
    }
  }

  &-controls {
    display: flex;
    padding-top: 15px;

    & > * + * {
      margin-left: 10px;
    }

    button {
      box-sizing: border-box;
      padding: 6px 26px;
      border: 1px solid var(--color-primary-7);
      border-radius: 8px;
      box-shadow: 0 0 1px var(--shadow-3), 0 2px 4px var(--shadow-5);

      &.save {
        color: white;
        background-color: var(--color-primary-7);
      }

      &.cancel {
        color: var(--color-primary-7);
        background: var(--background-card);
      }

      &.delete {
        display: flex;
        align-items: center;
        margin-left: auto;
        color: #da291d;
        letter-spacing: 1px;
        background-color: transparent;
        border: none;
        box-shadow: none;

        svg {
          width: 16px;
          height: 16px;
        }

        &:focus {
          outline: none;
        }
      }
    }
  }
}
