.wrapper {
  padding: 20px;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  text-align: center;
  border-radius: 4px;

  &-success {
    background: #09c270;
  }

  &-danger {
    background: #ff3c3c;
  }

  &-warning {
    background-color: orange;
  }
}
