@import "styles/_variables";
@import "styles/mixins";

.list {
  display: block;
  list-style-type: none;

  a {
    text-decoration: none;
    cursor: pointer;
  }
}

.list-item {
  display: flex;
  padding: 19px 15px;
  padding-right: 24px;
  margin-bottom: 10px;
  text-align: left;
  background: var(--background-card);
  border-radius: 10px;
  box-shadow: 0 0 1px var(--shadow-4), 0 0.5px 2px var(--shadow-5);

  &:hover {
    box-shadow: 0 1px 6px -3px var(--shadow-2);
    box-shadow: 2px 0 -3px var(--shadow-4), 0 2px 2px var(--shadow-5);
  }
}

.status {
  display: flex;
  flex: 0 0 24px;
  flex-flow: column;
  margin-right: 5px;
}

.container {
  display: flex;
  flex-flow: column;
  width: 100%;
  overflow: hidden;

  & > * + * {
    margin-top: 10px;
  }
}

.header {
  display: flex;
  align-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.connector {
  width: 22px;
  height: 15px;
  margin-top: 5px;
  margin-left: 11px;
  border-bottom: 2px solid var(--background-pending);
  border-left: 2px solid var(--background-pending);
  border-bottom-left-radius: 24px;
}

.commit {
  display: block;
  min-width: 0;
  max-width: 80%;
  overflow: hidden;
  font-size: 16px;
  color: var(--color-text);
  text-overflow: ellipsis;
  white-space: nowrap;

  @include xxs-down {
    max-width: 70%;
  }
}

.number {
  min-width: 32px;
  margin-right: 6px;
  font-size: 16px;
  color: var(--color-text);
  color: var(--color-summary);
  white-space: nowrap;

  &::before {
    margin-right: 3px;
    content: "#";
  }

  &::after {
    content: ".";
  }
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-item);

  @include md-down {
    flex-flow: column;
    align-items: unset;
    justify-content: unset;
  }
}

.activity {
  @include xs-down {
    display: flex;
    flex-wrap: wrap;

    [data-type="chunk"] {
      flex: 1 1 100%;

      + [data-type="chunk"] {
        margin-top: 6px;
      }
    }
  }
}

.timing {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
  white-space: nowrap;

  @include sm-down {
    justify-content: flex-end;
    margin-top: 12px;
    text-align: left;
  }
}

.elapsed {
  font-size: 13px;
  line-height: unset;
}

.dot {
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    display: inline-block;
    width: 3px;
    height: 3px;
    margin: 0 6px;
    background: rgba(30, 55, 90, 0.25);
    border-radius: 50%;
  }
}
